<launch>
    <!-- enviroment variable for determinin the cosole format -->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

    <!-- node for sneding/receiving can signals using ros message -->
    <node pkg="socketcan_bridge" name="sockercan_bridge" type="socketcan_bridge_node" output="screen"/>

    <!-- node for recording ros message into a bag -->
    <include file="$(find nturt_bag_recorder)/launch/nturt_bag_recorder.launch"/>

    <!-- node for parsing can signal -->
    <include file="$(find nturt_can_parser)/launch/nturt_can_parser.launch"/>

    <!-- node for controlling the state of the car -->
    <node pkg="nturt_state_controller" name="nturt_state_controller" type="nturt_state_controller_node" output="screen"/>

    <!-- node for controlling the can signal sent to the inverter -->
    <node pkg="nturt_torque_controller" name="nturt_torque_controller" type="nturt_torque_controller_node" output="screen"/>

    <!-- node for recording gps signal -->
    <node pkg="nturt_gps" name="nturt_gps_node" type="GPS.py" output="screen"/>

    <!-- node for sneding messages to remote server -->
    <node pkg="nturt_push_control_tower" name="push_to_control_tower_node" type="nturt_push_control_tower_node" />
    
    <!-- node for test if ros is working -->
    <node pkg="nturt_rpi_deployer" name="nturt_rpi_deployer_test" type="ros_test.py" output="screen"/>
</launch>
